{% extends 'usuarios/base.html' %}
{% block conteudo %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<form action="{% url 'listagem_usuarios' %}"method='post'>
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1>Cadastro de usuários</h1>
    nome <input name='nome' class="form-control-sm" type="text">
    idade <input name='idade'class="form-control-sm" type="text">
  
    <button type="submit" name="acao" value="enviar">Enviar</button>
      
    <button type="submit" name="acao" value="listar">Listar</button>
    </div>
  </form>
  

{% endblock %}